<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- В файле japanLanguageWordTest.csv 2 столбец всегда верный -->

    <bean id="questionDao" class="ru.zdoher.hw.dao.QuestionnaireDAOImpl" >
        <constructor-arg value="src/main/resources/japanLanguageWordTest.csv"/>
    </bean>

    <bean id="questionService" class="ru.zdoher.hw.service.QuestionnaireServiceImpl" >
        <constructor-arg ref="questionDao"/>
    </bean>

    <bean id="testing" class="ru.zdoher.hw.view.TestingImpl" >
        <constructor-arg ref="questionService" />
    </bean>


</beans>